.layout {
  display: flex;
  flex-flow: column nowrap;
  width: 100%;
  height: 100%;
}

#header {
  height: 50px;
  width: calc(100% - 4rem);
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 0rem 2rem 1rem 2rem;
  flex-shrink: 0;

  background-color: #fff;
  box-shadow: 0px 10px 8px 0px rgba(209, 209, 209, 0.5);
}

.lil-logo {
  position: relative;
  top: 4px;
  width: 80px;
}

.title {
  position: relative;
  font-size: 22px;
  font-weight: 600;
}

.empty-space {
  height: 100%;
  width: 80px;
  flex-shrink: 0;
}

.main-content {
  flex-grow: 1;

  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  gap: 1.25rem;
  padding-top: 3rem;
}

.select-area {
  width: 272px;
  height: 50px;

  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  gap: 0.75rem;
}

.select-container {
  flex-grow: 1;
}

.select-input {
  width: 100%;
  height: 100%;
  padding: 14px 0.75rem;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0px 0px 4px 0px rgba(209, 209, 209, 0.25);
  font-size: 16px;
}

.select-input:after {
  position: relative;
  content: "";
  right: 14px;
  margin-right: 0.5rem;
}

.rules-button {
  width: 50px;
  height: 48px;
  border: 1px solid #ddd;
  border-radius: 8px;

  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 0px 8px 0px rgba(209, 209, 209, 0.25);
  cursor: pointer;
}

.hamburger {
  width: 16px;
  height: 16px;
}

.drop-area {
}

.file-input {
  cursor: pointer;
  height: 320px;
  width: 240px;
  border: 1px solid #eee;
  border-radius: 8px;
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #888;
  font-weight: 600;
  box-shadow: 0px 0px 8px 0px rgba(209, 209, 209, 0.25);
}

.validate-button {
  min-width: 240px;
  padding: 0.75rem 1rem;

  background-color: rgb(34, 167, 34);
  color: white;
  border-radius: 8px;
  font-weight: 600;

  cursor: pointer;
}

#results-section {
  background-color: #eaeaea;
  min-height: 410px;
  width: calc(100% - 2rem);
  margin-top: 6rem;

  padding: 0 1rem 5rem 1rem;
  display: flex;
  flex-flow: column nowrap;
}

.loader-container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  gap: 1rem;
  justify-content: center;
  align-items: center;
}
