.results-header {
  width: 480px;
  height: 50px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: flex-end;

  margin: 0.5rem auto 0.75rem auto;
}

.results-title {
  font-size: 22px;
  font-weight: 600;
}

.results-summary {
  display: flex;
  align-items: flex-end;
  gap: 0.35rem;

  font-size: 18px;
  font-weight: 700;
  color: rgb(48, 47, 47);
}

.results-button {
  background-color: rgb(223, 30, 30);
  padding: 0.25rem;
  width: 22px;
  height: 20px;
  border-radius: 18px;
  color: white;

  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 16px;
  font-weight: 600;
}

.results-description {
  width: 480px;
  padding-bottom: 1.5rem;
  margin: 0 auto 1.25rem auto;
  font-size: 15px;
  text-align: left;
  color: rgb(80, 80, 80);

  border-bottom: 1px solid #c8c8c8;
}

.results-section-main-content {
  flex-grow: 1;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  padding-top: 1.5rem;
}

.result-item {
  position: relative;
  width: calc(480px - 2rem);
  padding: 1rem 1.5rem;
  margin: 0 auto 1.5rem auto;

  background-color: white;
  border: 1px solid #000;
  border-radius: 8px;
  text-align: left;
  overflow: hidden;
}

.result-error-spot {
  position: absolute;
  left: -8px;
  top: -8px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: rgba(255, 60, 50, 0.7);
}

.result-item-label {
  font-weight: 600;
}

.result-item-value {
  color: #5e5e5e;
  font-weight: 500;
}

.return-to-top {
  width: 480px;
  margin: 3.5rem auto 0 auto;
  align-self: flex-end;
  text-align: right;
  cursor: pointer;

  color: rgb(52, 92, 180);
  font-weight: 500;
}
